<nav>
  	<ul class="breadcrumb">
  		<li role="presentation"><%= link_to 'Home', root_path %></a></li>
  		<li role="presentation"><%= link_to Post.find(@comment.post_id).title.capitalize, post_path(@comment.post_id) %></a></li>
  		<li role="presentation" class="active">Edit Comment</li>
  		<li class="pull-right"><%= link_to 'Add Post', new_post_path(current_user) %></li>
  	</ul>
  </nav>

<h1>Edit Comment</h1>

<%= render(partial: 'form') %>
